<div class="row tab-row">
    <div class="col-md-12">
        <div class="btn-group">
            <button class="btn btn-primary addDepBtn">Добавить отдел</button>
        </div>
    </div>
</div>

<div class="table-responsive general-table">
    <table class="table table-hover deps-table">
        <tbody>
            <!-- for replace -->
        </tbody>
    </table>
</div>
