<div class="btn-group">
    <button class="btn btn-primary addEmployeeBtn">Добавить пользователя</button>
    <button class="btn btn-default editDepBtn">Изменить название отдела</button>
    <button class="btn btn-default removeDepBtn">Удалить отдел</button>
</div>

<div class="table-responsive general-table">
    <table class="table table-hover employees-table">
        <tbody>
            <!-- for replace -->
        </tbody>
    </table>
</div>
