<div class="btn-group">
    <button class="btn btn-primary addQuestionBtn">Добавить вопрос</button>
    <button class="btn btn-default testPreviewBtn">Просмотр теста</button>
    <button class="btn btn-default editTestBtn">Изменить название теста</button>
    <button class="btn btn-default removeTestBtn">Удалить тест</button>
</div>

<div class="table-responsive general-table">
    <table class="table table-hover questions-table">
        <tbody>
            <!-- for replace -->
        </tbody>
    </table>
</div>
