<div class="modal fade employee-prompt" data-employee-id="-1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Персонал</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group has-feedback">
                                <label for="personalLastname">Фамилия</label>
                                <input type="text" class="form-control lastname-input" id="personalLastname" placeholder="Иванов">
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group has-feedback">
                                <label for="personalName">Имя</label>
                                <input type="text" class="form-control firstname-input" id="personalName" placeholder="Иван">
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group has-feedback pass-group">
                                <label><input type="checkbox" class="pass-check" checked="checked"/>Задать/сменить пароль:</label>
                                <input type="text" class="form-control pass-input" id="personalPass" placeholder="не менее 6 символов без пробелов">
                                <span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default remove-employee-btn">Удалить</button>
                @*<button type="button" class="btn btn-default change-pass-btn">Сменить пароль</button>*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary save-employee-btn" data-loading-text="Сохранение...">Сохранить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
