<div class="btn-group">
    <button class="btn btn-primary add-employee-btn">Добавить сотрудника</button>
</div>

<div class="table-responsive general-table">
    <table class="table table-hover personal-table">
        <thead>
            <tr>
                <td>Фамилия</td>
                <td>Имя</td>
            </tr>
        </thead>
        <tbody>
            <!-- for replace -->
        </tbody>
    </table>
</div>
