@using TestSite.Variables
<div class="input-daterange input-group datepicker">
    <input type="text" class="form-control date-start" value="@DateTime.Now.AddMonths(-1).ToShortDateString()" />
    <span class="input-group-addon">по</span>
    <input type="text" class="form-control date-end" value="@DateTime.Now.ToShortDateString()" />
    <span class="input-group-btn">
        <button class="btn btn-default report-save-btn" type="button">
            <i class="glyphicon glyphicon-floppy-save save-icon"></i>
        </button>
        <button class="btn btn-primary report-refresh-btn" type="button">Обновить</button>
    </span>
</div>

<div class="row tab-row">
    <div class="col-md-12">
        <label class="form-inline">Сортировка:  </label>
        <label class="radio-inline">
            <input type="radio" name="sortRadio" class="employee-sort" checked="checked"> По сотруднику
        </label>
        <label class="radio-inline">
            <input type="radio" name="sortRadio" class="date-sort"> По дате
        </label>
    </div>
</div>

<div class="table-responsive general-table">
    <table class="table table-hover report-table">
        <thead>
            <tr>
                <td>Дата</td>
                <td>Сотрудник</td>
                <td>Тест</td>
                <td>Кол ошиб</td>
                <td>Оценка</td>
            </tr>
        </thead>
        <tbody>
            <!-- for replace -->
        </tbody>
    </table>
</div>

@if (User.IsInRole(Variables.AdminRole.Name))
{
    <div class="trash-template hide">
        <span class="glyphicon glyphicon-trash trash-btn"></span>
    </div>
}
