<div class="modal test-preview" data-test-id="-1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title test-title">Просмотр</h4>
            </div><!-- /.modal-header -->
            <div class="modal-body">
                
                <ul class="nav nav-tabs">
                    @*<li class="active"><a data-toggle="tab" href="#testsTab">Вопрос 1</a></li>*@
                </ul>

                <div class="tab-content">
                    <!-- for replace -->
                </div> <!-- tab-content / end -->

                <!-- шаблон для заголовка вкладки -->
                <ul class="hide tab-header-template">
                    <li><a data-toggle="tab" href="#"></a></li>
                </ul>
                <!--  -->

                <!-- шаблон для вкладки -->
                <div id="-1" class="tab-pane fade in tab-template hide" data-question-id="-1">
                    <h4 class="question-title"></h4>
                    <div class="answers-container">
                    </div>
                </div>
                <!--  -->

                <!-- шаблон для радиокнопки -->
                <div class="radio-template hide">
                    <div class="radio">
                        <label><input type="radio" class="check-input" name="optradio" data-answer-id="-1"></label>
                    </div>
                </div>
                <!--  -->

                <!-- шаблон для чекбокса -->
                <div class="checkbox-template hide">
                    <div class="checkbox">
                        <label><input type="checkbox" class="check-input" data-answer-id="-1"></label>
                    </div>
                </div>
                <!--  -->
                
            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
