<div class="btn-group">
    <button class="btn btn-primary addTestBtn">Создать тест</button>
</div>
<div class="table-responsive general-table">
    <table class="table table-hover tests-table">
        <tbody>
            <!-- for replace -->
        </tbody>
    </table>
</div>
