<!-- шаблон для заголовка вкладки -->
<ul class="hide tab-header-template">
    <li><a data-toggle="tab" href="#"></a></li>
</ul>
<!--  -->
<!-- шаблон для вкладки -->
<div id="-1" class="tab-pane fade in tab-template hide" data-question-id="-1">
    <h4 class="question-title"></h4>
    <div class="answers-container">
    </div>
</div>
<!--  -->
<!-- шаблон для радиокнопки -->
<div class="radio-template hide">
    <div class="radio">
        <label><input type="radio" class="check-input" name="optradio" data-answer-id="-1"></label>
    </div>
</div>
<!--  -->
<!-- шаблон для чекбокса -->
<div class="checkbox-template hide">
    <div class="checkbox">
        <label><input type="checkbox" class="check-input" data-answer-id="-1"></label>
    </div>
</div>
<!--  -->

<!-- шаблон для схемы -->
<div class="hide schema-container schema-container-template">
    <button class="btn btn-default zoom-in-btn glyphicon glyphicon-zoom-in"></button>
    <button class="btn btn-default reset-btn glyphicon glyphicon-resize-small"></button>
    <button class="btn btn-default zoom-out-btn glyphicon glyphicon-zoom-out"></button>
    <div class="panzoom">
        <img class="schema" src="" />
    </div>
</div>
<!--  -->