@using TestSite.PL.WebPages.Models
@using TestSite.Entites
@using TestSite.Variables
@{
    Layout = "~/_Layout.cshtml";
    PageData["Title"] = "Настройки";

    string errorMessage = null;

    if (!User.Identity.IsAuthenticated)
    {
        Response.StatusCode = 401;
        return;
    }

    Role usersRole = null;

    var log = TestSite.Logger.Logger.Log;

    try
    {
        var userId = Convert.ToInt32(User.Identity.Name);
        usersRole = LogicProvider.EmployeeLogic.GetRoleForUserByEmployeeId(userId);
    }
    catch (Exception ex)
    {
        // TODO Fatal Page
        errorMessage = ex.Message;
        log.Error(ex.Message);
    }
}

@if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}

<div class="content content-profile container-fluid" data-user-id="@User.Identity.Name">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#passwordTab">Изменение пароля</a></li>
        @if (usersRole != Variables.InspectorRole)
        {
            <li><a data-toggle="tab" href="#reportTab">Моя статистика</a></li>
        }
    </ul>

    <div class="tab-content">
        <div id="passwordTab" class="tab-pane fade in active passwordTab">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <div class="form-group has-feedback">
                        <label for="oldPassword" class="control-label">Старый пароль</label>
                        <input id="oldPassword" type="password" class="form-control old-password-input" placeholder="текущий пароль">
                        <span class="glyphicon form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="newPassword" class="control-label">Новый пароль</label>
                        <input id="newPassword" type="password" class="form-control new-password-input" placeholder="не менее 6 символов без пробелов">
                        <span class="glyphicon form-control-feedback"></span>
                    </div>

                    <button class="btn btn-primary changePasswordBtn" data-loading-text="Загрузка...">Изменить пароль</button>

                    <div class="notify-container">
                        <div class="alert alert-success col-sm-12 hide">Пароль успешно изменён</div>
                    </div>
                </div>
            </div>
        </div>

        @if (usersRole != Variables.InspectorRole)
        {
            <div id="reportTab" class="tab-pane fade in report-tab">
                <!-- Report tab -->
                @RenderPage("~/Pages/_ReportTabPartial.cshtml")
                <!--  -->
            </div>
        }

    </div>

    <!-- ErrorModal -->
    @RenderPage("~/Pages/_ErrorModalPartial.cshtml")
    <!--  -->
</div>

@section header {
    <link rel="icon" type="image/png" href="~/images/icons/profile.png" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectStyles/generals/testTabs.css" rel="stylesheet" />
    <link href="~/Content/ProjectStyles/generals/tables.css" rel="stylesheet" />
    <link href="~/Content/ProjectStyles/generals/reportTab.css" rel="stylesheet" />
    <link href="~/Content/ProjectStyles/profile.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="~/Scripts/jquery.fileDownload.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
    <script src="~/Scripts/ProjectScripts/profile.js"></script>
    <script src="~/Scripts/ProjectScripts/profile-report.js"></script>
}
