.tab-content .report-tab .datepicker {
    margin-bottom: 20px;
}

.tab-content .report-tab .report-table thead {
    font-size: 9pt;
    font-weight: bold;
}

.tab-content .report-tab .report-save-btn .hide-element {
    visibility: hidden;
}

.tab-content .report-tab .report-save-btn .show-element {
    visibility: visible;
}

.tab-content .table .perfect {
    background-color: #DFF0D8;
}

.tab-content .table .bad {
    background-color: #F2DEDE;
}

.tab-content .report-tab table,
.tab-content .report-tab table tbody,
.tab-content .report-tab table tbody tr,
.tab-content .report-tab table tbody td {
    position: relative;
}

.tab-content .report-tab table tbody tr {
    cursor: default;
}

.tab-content .report-tab tbody tr .trash-btn {
    display: none;
}

.tab-content .report-tab tbody tr:hover .trash-btn {
    font-size: 12pt;
    text-align: center;
    position: absolute;
    display: inline-block;
    padding-right: 1px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #dddddd;
    border-radius: 5px;
    right: 120px;
    top: 5px;
    cursor: pointer;
}

.tab-content .report-tab tbody tr .trash-btn:hover {
    background-color: rgba(0, 0, 0, .1);
}
