.tab-content .table > tbody > tr {
    cursor:pointer;
}

.tab-content .question-prompt .question-textarea {
    width: 100%;
}

.tab-content .question-prompt .remove-question-btn {
    float: left;
}

.tab-content .question-prompt .modal-title {
    display: inline-block;
}

.tab-content .question-prompt .type-select {
    display: inline-block;
    margin-left: 10%;
    width: inherit;
}

.question-prompt .answers-container .radio label,
.question-prompt .answers-container .checkbox label {
    vertical-align: middle;
}

.question-prompt .answers-container .radio input[type=text],
.question-prompt .answers-container .checkbox input[type=text] {
    width: 88%;
    display:inline-block;
}

.tab-content .test-preview .modal-dialog {
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    margin: 0;
    width: auto;
}

.tab-content .test-preview .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.tab-row {
    margin-bottom: 10px;
}

.question-prompt .add-answer-btn {
    margin-left: 38%;
    margin-bottom: 10px;
}

.question-prompt .question-textarea {
    margin-bottom: 10px;
}

.tab-content .employee-prompt .remove-employee-btn,
.tab-content .employee-prompt .change-pass-btn {
    float: left;
}