.content-login .have-you-account {
    border-top: 1px solid#888;
    padding-top: 15px;
    font-size: 85%
}

.content-login .loginbox {
    margin-top: 50px;
}

.content-login .alert {
    margin: 10px 0 0 0;
}

.content-login .input-group {
    margin-bottom: 15px;
}

.content-login .container-login-btn {
    margin-top: 10px;
}

.content-login .nodisplay {
    display: none;
}